*{
  padding: 0px;
  margin: 0px;
}
.App{
  background-color: rgb(59, 59, 68);
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}